@model PersonModel
@using GJJA.RegistraVoce.Domain.Enums

@{
    ViewData["Title"] = "Edit Person Page";
}

<h2>***Edit Person Page***</h2>

 <strong>
     @Html.ActionLink("List all","Index","Person")

</strong>

@using (Html.BeginForm("Update", "Person", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Id)
    <table>
        <tr>
            <th> Parameter </th>
            <th> Value </th>
        </tr>
        <tr>
            <th> Name </th>
            <td>@Html.EditorFor(m => m.Name)</td>
        </tr>
        <tr>
            <th> Gender </th>
            <td>@Html.DropDownListFor(m => m.Gender,new SelectList(Enum.GetValues(typeof(Gender))))
                
                <!-- @Html.DropDownListFor(m => m.Gender,new List<SelectListItem>{ 
                new SelectListItem { Text = "Male", Value = "0"},
                new SelectListItem { Text = "Female", Value = "1"},
                new SelectListItem { Text = "No Info", Value = "2"} 
            })-->
            </td>
        </tr>
        <tr>
            <th> Document Number </th>
            <td>@Html.EditorFor(m => m.DocumentNumber)</td>
        </tr>
        <tr>
            <th> Identification </th>
            <td>@Html.EditorFor(m => m.Identification)</td>
        </tr>
         <tr>
             <th> Birth Date </th>
             <td>@Html.EditorFor(m => m.BirthDate)</td>
        </tr>
        <tr>
             <th> Marital Status </th>
             <td>@Html.DropDownListFor(m=> m.MaritalStatus,new SelectList(Enum.GetValues(typeof(MaritalStatus))))
                 
                 <!-- @Html.DropDownListFor(m=> m.MaritalStatus,new List<SelectListItem>{ 
                new SelectListItem { Text = "Single", Value = "0"},
                new SelectListItem { Text = "Married", Value = "1"},
                new SelectListItem { Text = "Divorced", Value = "2"},
                new SelectListItem { Text = "Widowed", Value = "3"}
            }) -->
            
            </td>
        </tr>
        <tr>
             <th> Address </th>
             <td>@Html.EditorFor(m => m.Address)</td>
        </tr>
        <tr>
             <th> Phone </th>
             <td>@Html.EditorFor(m => m.Phone)</td>
        </tr>

    </table>
    <input type = "submit" value = "Update Person"/>
}