@model ListPersonModel

@{
    ViewData["Title"] = "Person Page";
}

<h2>***Person Page***</h2>


 <strong>
     @Html.ActionLink("Create Person","Create","Person")

</strong>

<table border = "1" style="width:100%">
<tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Gênero</th>
    <th>RG</th>
    <th>CPF</th>
    <th>Nascimento</th>
    <th>Estado Civil</th>
    <th>Endereço</th>
    <th>Telefone</th>
    <th>Editar</th>
    <th>Excluir</th>

</tr>

 
@foreach (var person in Model.Lista)
{
    <tr>
        <td>@person.Id</td>
        <td>@person.Name</td>
        <td>@person.Gender</td>
        <td>@person.DocumentNumber</td>
        <td>@person.Identification</td>
        <td>@person.BirthDate</td>
        <td>@person.MaritalStatus</td>
        <td>@person.Address</td>
        <td>@person.Phone</td>
         <td style = "text-align: center; color:blue">
            <strong>
                @Html.ActionLink("Edit" ,"Edit","Person", new { personId = person.Id})
            </strong>
        </td>
        <td style = "text-align: center; color:red">
            <strong>
                @Html.ActionLink("Delete" ,"DeletePerson","Person", new { personId = person.Id})
            </strong>
        </td>
    </tr>    
}


</tr>
<table>
<p><strong>Total de pessoas: @Model.Lista.Count()</strong></p>
