@model PersonModel 
@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
 
 <p>Id: @Model.Id</p>
 <p>Nome: @Model.Name</p>
 <p>Gender: @Model.Gender</p>
 <p>DocumentNumber: @Model.DocumentNumber</p>
 <p>Identification: @Model.Identification</p>
 <p>BirthDate: @Model.BirthDate</p>
 <p>Address: @Model.Address</p>
 <p>Phone: @Model.Phone</p>
 <p>MaritalStatus: @Model.MaritalStatus</p>

 
  